/*Estilo de loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader:before {
    content: "";
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border: 4px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 9999;
    background-color: transparent;
}


@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*Estio barra de scroll*/
::-webkit-scrollbar {
    background-color: #000000;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #88888855;
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
}

/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat.otf");
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    background: #bdc3c7;
    background-size: cover;
    color: rgba(255, 255, 255, 0);
}

.contenedor-img {
    display: flex;
    justify-content: center;
}



/*Estilos de separador*/
.separador {
    background-image: url('/imagenes/separador.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.separador img {
    width: 50%;
}

.contenedor-imgleft {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}



/*Estilos de header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #bdc3c7, #a7a7a7);
    padding: 8px;
    border-bottom: #ffb500 5px solid;
    width: 100%;
}

header img {
    height: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #010101;
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 90%, #ffb500 90%, #ffcb47 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

nav a:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

.menu-desplegable {
    position: relative;
}

.menu-desplegable input[type="checkbox"] {
    display: none;
}

.menu-desplegable .opciones {
    display: none;
    position: absolute;
    background-color: #f9f9f944;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    margin-top: 10px;
    border-radius: 10px;
}


.menu-desplegable input[type="checkbox"]:checked+.opciones {
    display: block;
}

.menu-desplegable label {
    cursor: pointer;
    color: black;
}



.menu-desplegable a {
    display: block;
    color: #333;
    text-decoration: none;
}




/*Estilos hero*/

#hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url('/imagenes/fondopuntos4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px;
    padding-top: 2vw;
}

#foto {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

#foto::before {
    content: "";
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, rgb(255, 183, 0), #ffb500);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

#foto:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

#foto::after {
    content: "";
    position: absolute;
    inset: 10px;
    background: #e7e7e7;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 30px;
    border: 6px solid #ffffff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}

.informacion {
    background-color: #6b6b6b2c;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1.5%;
    margin-top: 3vw;
    height: auto;
}

.informacion h1 {
    border-bottom: 2px solid black;
    width: auto;
    color: black;
}

#hero .informacion span {
    display: inline-block;
    color: #000000;
    margin-bottom: 2%;
    margin-top: 1%;
}

/*Estilos main*/

.misvis {
    max-width: 100%;
    height: auto;
    color: #ffffff;
    margin: 2%;
}

.misvis p {
    margin-top: 1%;
    margin-bottom: 4%;
    width: auto;
    height: auto;
    color: black;
}

.misvis h2 {
    text-align: center;
    border-bottom: 2px solid black;
    width: auto;
    color: black;
}


/*--------------------Estilos Valores-------------------*/

#valores{
    width: 100%;
    height: 18vh;
}

.contenedor_valores{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.contenedor_valor{
    background-color: #ffb500;
    color: black;
    font-size: 1.4rem;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





/*--------------------Estilos Footer-------------------*/

footer {
    background-color: #070a1c;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 16px;
    line-height: 1.5;
    color: #868686;
    margin: 0;
    padding: 0;
}

footer .icons {
    margin-top: 10px;
    font-size: 14px;
    color: #868686;
}

footer .icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

footer .icons a:hover {
    text-decoration: underline;
}

/*--------------------Estilos Contact-------------------*/

#contact {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}


#contact h1 {
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: fit-content;
    margin-inline: auto;
    color: black;
}

#contact p {
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
    width: fit-content;
    margin-inline: auto;
    color: black;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.37);
}


#container-form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #222;
    background-image: linear-gradient(45deg, #5162742a, #1a25336a);
    color: #fff;
}

label {
    margin-bottom: 10px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3469db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #2941b9;
}


/*--------------------Estilos social icons-------------------*/
.social-icons-container p {
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    width: fit-content;
    margin-inline: auto;
    color: black;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.37);
}


.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 2%;
}

.social-icons li {
    margin-left: 15px;
}

.social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: auto;
}

.social-icons .social-icon img {
    width: auto;
    height: 50px;
}


@media (max-width: 850px) {

    #foto {
        position: relative;
        width: 200px;
        height: 200px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        overflow: hidden;
    }
    
    #foto::before {
        content: "";
        position: absolute;
        inset: -10px 70px;
        background: linear-gradient(315deg, #ffb700, #ffb500);
        transition: 0.5s;
        animation: animate 4s linear infinite;
    }
    
    #foto::after {
        content: "";
        position: absolute;
        inset: 5px;
        background: #e7e7e7;
        border-radius: 50%;
        z-index: 1;
    }
    
    .content {
        position: absolute;
        inset: 20px;
        border: 6px solid #ffffff;
        z-index: 3;
        border-radius: 50%;
        overflow: hidden;
    }
    
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        align-items: flex-start;
    }

    nav li {
        margin: 5px 0;
    }

    header img {
        display: none;
    }

    .informacion {
        background-color: #6b6b6b57;
        text-align: center;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 3%;
        margin-top: 3vw;
        height: auto;
        font-size: .7rem;
    }
    

    .contenedor_valores{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    
    .contenedor_valor{
        background-color: #ffb500;
        color: black;
        font-size: 0.8rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
.misvis {
    max-width: 100%;
    height: auto;
    color: #ffffff;
    margin: 2%;
    font-size: 0.8rem;
}

.misvis p {
    margin: 2%;
    margin-bottom: 8%;
    width: auto;
    height: auto;
    color: black;
}

.misvis h2 {
    text-align: center;
    border-bottom: 2px solid black;
    width: auto;
    color: black;
}

footer p {
    font-size: 0.6rem;
    line-height: 1.5;
    color: #868686;
    margin: 0;
    padding: 0;
}

}



/*

@media (max-width: 850px) {
    header {
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        flex-direction: row;
        align-items: flex-start;
    }

    nav li {
        margin: 5px 0;
    }

    #hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: rgb(66, 66, 66) 5px outset;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201440%20320'%3E%3Cpath%20fill='%234e4e4e'%20fill-opacity='1'%20d='M0%2C320L18.5%2C309.3C36.9%2C299%2C74%2C277%2C111%2C240C147.7%2C203%2C185%2C149%2C222%2C144C258.5%2C139%2C295%2C181%2C332%2C170.7C369.2%2C160%2C406%2C96%2C443%2C96C480%2C96%2C517%2C160%2C554%2C181.3C590.8%2C203%2C628%2C181%2C665%2C160C701.5%2C139%2C738%2C117%2C775%2C117.3C812.3%2C117%2C849%2C139%2C886%2C133.3C923.1%2C128%2C960%2C96%2C997%2C85.3C1033.8%2C75%2C1071%2C85%2C1108%2C101.3C1144.6%2C117%2C1182%2C139%2C1218%2C160C1255.4%2C181%2C1292%2C203%2C1329%2C192C1366.2%2C181%2C1403%2C139%2C1422%2C117.3L1440%2C96L1440%2C320L1422.9%2C320C1405.7%2C320%2C1369.4%2C320%2C1333%2C320C1296.9%2C320%2C1260.6%2C320%2C1224%2C320C1187.7%2C320%2C1151.4%2C320%2C1115%2C320C1078.5%2C320%2C1042.3%2C320%2C1006%2C320C969.2%2C320%2C932%2C320%2C896%2C320C859.2%2C320%2C822%2C320%2C786%2C320C749.2%2C320%2C712%2C320%2C675%2C320C638.5%2C320%2C602.3%2C320%2C566%2C320C529.2%2C320%2C492%2C320%2C455%2C320C418.5%2C320%2C382.3%2C320%2C346%2C320C309.2%2C320%2C272%2C320%2C236%2C320C199.2%2C320%2C162%2C320%2C126%2C320C89.2%2C320%2C52%2C320%2C29%2C320L0%2C320Z'%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
    }

    #foto {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    #foto::before {
        content: "";
        position: absolute;
        inset: -5px 70px;
        background: linear-gradient(315deg, #e7f3ff, #006195);
        transition: 0.5s;
        animation: animate 4s linear infinite;
        overflow: hidden;
    }

    #foto::after {
        content: "";
        position: absolute;
        inset: 6px;
        background: #3f3f3f;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
    }

    .content {
        position: absolute;
        inset: 20px;
        border: 6px solid #070a1c;
        z-index: 3;
        border-radius: 50%;
        overflow: hidden;
    }

    .informacion {
        height: auto;
        padding: 5%;
        margin-left: 10px;
    }

    .container-zone {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .zone {
        width: 100%;
        height: auto;
        border-radius: 12px;
        background-color: #222;
        background-image: linear-gradient(45deg, #5162742a, #1a25336a);
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    footer p {
        font-size: 8px;
        line-height: 1.5;
        color: #868686;
        margin: 0;
        padding: 0;
    }

    form {
        width: 100%;
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        flex-direction: row;
        align-items: flex-start;
    }

    nav li {
        margin: 5px 0;
    }

    #hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: rgb(66, 66, 66) 5px outset;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201440%20320'%3E%3Cpath%20fill='%234e4e4e'%20fill-opacity='1'%20d='M0%2C320L18.5%2C309.3C36.9%2C299%2C74%2C277%2C111%2C240C147.7%2C203%2C185%2C149%2C222%2C144C258.5%2C139%2C295%2C181%2C332%2C170.7C369.2%2C160%2C406%2C96%2C443%2C96C480%2C96%2C517%2C160%2C554%2C181.3C590.8%2C203%2C628%2C181%2C665%2C160C701.5%2C139%2C738%2C117%2C775%2C117.3C812.3%2C117%2C849%2C139%2C886%2C133.3C923.1%2C128%2C960%2C96%2C997%2C85.3C1033.8%2C75%2C1071%2C85%2C1108%2C101.3C1144.6%2C117%2C1182%2C139%2C1218%2C160C1255.4%2C181%2C1292%2C203%2C1329%2C192C1366.2%2C181%2C1403%2C139%2C1422%2C117.3L1440%2C96L1440%2C320L1422.9%2C320C1405.7%2C320%2C1369.4%2C320%2C1333%2C320C1296.9%2C320%2C1260.6%2C320%2C1224%2C320C1187.7%2C320%2C1151.4%2C320%2C1115%2C320C1078.5%2C320%2C1042.3%2C320%2C1006%2C320C969.2%2C320%2C932%2C320%2C896%2C320C859.2%2C320%2C822%2C320%2C786%2C320C749.2%2C320%2C712%2C320%2C675%2C320C638.5%2C320%2C602.3%2C320%2C566%2C320C529.2%2C320%2C492%2C320%2C455%2C320C418.5%2C320%2C382.3%2C320%2C346%2C320C309.2%2C320%2C272%2C320%2C236%2C320C199.2%2C320%2C162%2C320%2C126%2C320C89.2%2C320%2C52%2C320%2C29%2C320L0%2C320Z'%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
    }

    #foto {
        width: 135px;
        height: 135px;
        overflow: hidden;
    }

    #foto::before {
        content: "";
        position: absolute;
        inset: -2.5px 35px;
        background: linear-gradient(315deg, #e7f3ff, #006195);
        transition: 0.5s;
        animation: animate 4s linear infinite;
    }

    .informacion {
        width: 50%;
        padding: 5%;
        margin-left: 10px;
        font-size: x-small;
    }

    #foto::after {
        content: "";
        position: absolute;
        inset: 6px;
        background: #3f3f3f;
        border-radius: 50%;
        z-index: 1;
    }

    .content {
        position: absolute;
        inset: 15px;
        border: 6px solid #070a1c;
        z-index: 3;
        border-radius: 50%;
        overflow: hidden;
    }

    main p {
        margin: 5%;
        font-size: small;
    }

    .zone h2 {
        border-bottom: 5px solid white;
        border-bottom-style: double;
        width: auto;
        font-size: medium;
    }

    .zone .left h3 {
        text-align: left;
        border-bottom: 1px solid white;
        margin-bottom: 1.5%;
        width: fit-content;
        font-size: small;
    }

    .zone .right h3 {
        text-align: right;
        width: fit-content;
        margin-left: auto;
        border-bottom: 1px solid white;
        margin-bottom: 1.5%;
        font-size: small;
    }
}

@media screen and (orientation: landscape) {
    #hero {
        flex-direction: row;
        align-items: center;
    }

    .zone h2 {
        border-bottom: 5px solid white;
        border-bottom-style: double;
        width: auto;
        font-size: large;
    }

    .zone .left h3 {
        text-align: left;
        border-bottom: 1px solid white;
        margin-bottom: 1.5%;
        width: fit-content;
        font-size: medium;
    }

    .zone .right h3 {
        text-align: right;
        width: fit-content;
        margin-left: auto;
        border-bottom: 1px solid white;
        margin-bottom: 1.5%;
        font-size: medium;
    }
}